@import url("https://fonts.googleapis.com/css?family=Oxanium:600&display=swaphttps://fonts.googleapis.com/css?family=Oxanium:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Trade+Winds&display=swap");

*,
*:before, *:after {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
     outline: none;
 }

body{
     background: linear-gradient(#566573, #c5ccd3)  ;
     margin:0;
        box-sizing: border-box;
    padding:0;
 }